version: '3.3'

services:
  webserver:
    environment:
      APP_ENV: dev
      ONESIGNAL_APP_ID: YOUR_ONESIGNAL_APP_ID
      ONESIGNAL_APP_AUTH_KEY: YOUR_ONESIGNAL_APP_AUTH_KEY
      ONESIGNAL_USER_AUTH_KEY: YOUR_ONESIGNAL_USER_AUTH_KEY